html,
body {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-list {
  display: flex;
  justify-content: center;
}

.list {
  flex-direction: column;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  border-radius:35px;
  cursor: pointer;
}

.buttons {
  margin: 5px;
  display: flex;
  justify-content: center;
}